WebContent/WEB-INF/wsdl/CharichueloWSService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. -->
<definitions targetNamespace="http://charichuelo/" name="CharichueloWSService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://charichuelo/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://charichuelo/" schemaLocation="CharichueloWSService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="mthdCustomerOrderSearch">
    <part name="parameters" element="tns:mthdCustomerOrderSearch"/>
  </message>
  <message name="mthdCustomerOrderSearchResponse">
    <part name="parameters" element="tns:mthdCustomerOrderSearchResponse"/>
  </message>
  <message name="mthdProductCreate">
    <part name="parameters" element="tns:mthdProductCreate"/>
  </message>
  <message name="mthdProductCreateResponse">
    <part name="parameters" element="tns:mthdProductCreateResponse"/>
  </message>
  <message name="mthdProductUpdate">
    <part name="parameters" element="tns:mthdProductUpdate"/>
  </message>
  <message name="mthdProductUpdateResponse">
    <part name="parameters" element="tns:mthdProductUpdateResponse"/>
  </message>
  <message name="mthdCustomerSearch">
    <part name="parameters" element="tns:mthdCustomerSearch"/>
  </message>
  <message name="mthdCustomerSearchResponse">
    <part name="parameters" element="tns:mthdCustomerSearchResponse"/>
  </message>
  <portType name="CharichueloWS">
    <operation name="mthdCustomerOrderSearch">
      <input wsam:Action="http://charichuelo/CharichueloWS/mthdCustomerOrderSearchRequest" message="tns:mthdCustomerOrderSearch"/>
      <output wsam:Action="http://charichuelo/CharichueloWS/mthdCustomerOrderSearchResponse" message="tns:mthdCustomerOrderSearchResponse"/>
    </operation>
    <operation name="mthdProductCreate">
      <input wsam:Action="http://charichuelo/CharichueloWS/mthdProductCreateRequest" message="tns:mthdProductCreate"/>
      <output wsam:Action="http://charichuelo/CharichueloWS/mthdProductCreateResponse" message="tns:mthdProductCreateResponse"/>
    </operation>
    <operation name="mthdProductUpdate">
      <input wsam:Action="http://charichuelo/CharichueloWS/mthdProductUpdateRequest" message="tns:mthdProductUpdate"/>
      <output wsam:Action="http://charichuelo/CharichueloWS/mthdProductUpdateResponse" message="tns:mthdProductUpdateResponse"/>
    </operation>
    <operation name="mthdCustomerSearch">
      <input wsam:Action="http://charichuelo/CharichueloWS/mthdCustomerSearchRequest" message="tns:mthdCustomerSearch"/>
      <output wsam:Action="http://charichuelo/CharichueloWS/mthdCustomerSearchResponse" message="tns:mthdCustomerSearchResponse"/>
    </operation>
  </portType>
  <binding name="CharichueloWSPortBinding" type="tns:CharichueloWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="mthdCustomerOrderSearch">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="mthdProductCreate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="mthdProductUpdate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="mthdCustomerSearch">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="CharichueloWSService">
    <port name="CharichueloWSPort" binding="tns:CharichueloWSPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

